@use '../styles/variables.scss' as*;

.services {
    background-color: $main-color;
    color: white;
    padding: 60px 100px 60px 100px;
    min-height: 80vh;
    @media only screen and (max-width : 767px) {
        padding: 60px;
    }
    @media only screen and (min-width : 1500px) {
        min-height: 0;
    }
    .separator {
        height: 1.1px;
        border: none;
        margin: 20px 0;
        background-color: white;
    }
}